@import url("../../../src/styles/styleguide.css");
@import url("../../../src/components/header/header.css");
@import url("../../../src/components/radio-vertical/radio-vertical.css");
@import url("../../../src/components/button/button.css");

.content-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: wrap-content;
  height: wrap-content;
}