html,
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.sn-pro {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200 900;
  font-style: normal;
}


:root {
  --primary-color: rgba(172, 225, 175, 1);
  --secondary-color: rgba(0, 86, 59, 1);
  --tertiary-color: rgba(254, 250, 224, 1);
  --black: #23242a;
  --white: rgba(255, 255, 255, 1);
  --active-border-color: #00563B;
  --inactive-border-color: #e2e8f0;
  --bg-body: #f1f5f9;
}
html,
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-SemiBold", "weight": "600", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-Medium", "weight": "500", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium");
}