@import url(../src/styles/styleguide.css);
@import url(../public/styles.css);

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 92px 24px 0 24px;
  position: relative;
  background-color: #ffffff;
}

.content .h {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 44px;
  letter-spacing: -1.1px;
  line-height: 48.4px;
}

.content .socials-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.content .div {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.content .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.content .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.6px;
  line-height: 26.4px;
}

.content .clemm-png-gmail-com {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.6px;
  line-height: 26.4px;
  background: transparent;
  border: none;
  padding: 0;
}

.content .image {
  position: relative;
  align-self: stretch;
  width: 100%;
  aspect-ratio: 1.48;
  object-fit: cover;
  border-radius: 6px;
}

.content .info {
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.content .info-text {
  align-items: center;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 22px;
  display: flex;
  position: relative;
}

.contact-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}