<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="header.css" />
    <script src="/tests/head-content.js" defer></script>
  </head>
  <body>
    <div class="header">
      <div class="icons-wrapper"><img class="icons" src="/src/assets/icons/arrow-left.svg" /></div>
      <div class="header-label">
        <div class="text">Étape 1 sur 4 </div>
        <p class="description">Choisissez le type de recette</p>
      </div>
      <div class="group-aciton-right">
        <div class="icons-wrapper"><img class="icons" src="/src/assets/icons/dots-vertical.svg" /></div>
      </div>
    </div>
  </body>
</html>