@import url("../../../src/styles/styleguide.css");
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.header {
    display: flex;
    width: 100;
    min-width: 280px;
    height: 58px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 16px;
    position: relative;
    background-color: #ffffff;
}

.header .icons-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #0000000d;
  border-radius: 28px;
  overflow: hidden;
}

.header .icons {
  position: relative;
  width: 24px;
  height: 24px;
}

.header .header-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.header .text {
  font-family: "SN Pro", Helvetica;
  color: #101828;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  align-self: stretch;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}

.header .description {
  margin: 0;
  font-family: "SN Pro", Helvetica;
  color: #475467;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  align-self: stretch;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
}

.header .group-aciton-right {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
}