<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="radio-vertical.css">
    <script src="src\utils\head-content.js"></script>
    <title>radio vertical v2</title>
</head>
<body>
    <div class="radio-grid">
        <label class="radio-card">
            <input type="radio" name="custom-radio" checked>
            <div class="radio-container">
            <div class="icon-box">
                <img class="icons" src="../../../src/assets/icons/image.svg" />
            </div>
            <span class="radio-text">Option A</span>
        </div>
        </label>

        <label class="radio-card">
            <input type="radio" name="custom-radio">
            <div class="radio-container">
            <div class="icon-box">
               <img class="icons" src="../../../src/assets/icons/image.svg" />
            </div>
            <span class="radio-text">Option B</span>
            </div>
        </label>
    </div>

</body>
</html>