<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="search-bar.css" />
    <script src="search-bar.js"></script>
    <script src="../../utils/head-content.js"></script>
  </head>
  <body>
    <div class="search-section">
      <div class="search-bar">
        <img class="icon" src="../../assets/icons/search.svg" alt="search icon"/>
        <input type="text" class="placeholder" placeholder="Recherchez des ingrédients" />
      </div>
      <div class="result-container">
        <!-- div result -->
      </div>
    </div>
  </body>
</html>